<div class="col-lg-12">
        <footer class="footer text-center">
            Copyright by Tenzin
        </footer>
    </div>
</div> <!-- rigth content -->
    <script src="bower_components/vendors/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/vendors/popper.js/dist/umd/popper.min.js"></script>
    <script src="bower_components/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/assets/js/main.js"></script>


    <script src="bower_components/vendors/chart.js/dist/Chart.bundle.min.js"></script>
    <script src="bower_components/assets/js/dashboard.js"></script>
    <!-- jquery -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Vue -->
    <script src="bower_components/assets/js/Vue.js"></script>
    <!-- custom myscript.js -->
    <script src="bower_components/assets/js/myscript.js"></script>
    <script src="bower_components/assets/js/widgets.js"></script>
    <script src="bower_components/vendors/jqvmap/dist/jquery.vmap.min.js"></script>
    <script src="bower_components/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js"></script>
    <script src="bower_components/vendors/jqvmap/dist/maps/jquery.vmap.world.js"></script>
    <script>
        (function($) {
            "use strict";

            jQuery('#vmap').vectorMap({
                map: 'world_en',
                backgroundColor: null,
                color: '#ffffff',
                hoverOpacity: 0.7,
                selectedColor: '#1de9b6',
                enableZoom: true,
                showTooltip: true,
                values: sample_data,
                scaleColors: ['#1de9b6', '#03a9f5'],
                normalizeFunction: 'polynomial'
            });
        })(jQuery);
    </script>
    <script>
        $(document).ready(function(){
            //showing data to modal for edit user record
            $('.myeditbutton').on('click',function(){
                var userid = $(this).data('user_id');
                var username = $(this).data('user_name');
                var email = $(this).data('email');
                var location = $(this).data('location');
                var houseno = $(this).data('house_number');
                $('.user_id').val(userid);
                $('.user_name').val(username);
                $('.email').val(email);
                $('.location').val(location);
                $('.house_number').val(houseno);
            });

            //showing data to modal for edit room record
            $('.myeditbutton1').on('click',function(){
                var hid = $(this).data('hid');
                var rname = $(this).data('room_name');
                var rid = $(this).data('room_id');
                $('.hid').val(hid);
                $('.room_name').val(rname);
                $('.room_id').val(rid);
            });

            //showing data to modal for edit room record
            $('.myeditbutton2').on('click',function(){
                var cid = $(this).data('cid');
                var cname = $(this).data('component_name');
                var use = $(this).data('used_for');
                var pin = $(this).data('output_pin');
                var rid = $(this).data('room_id');
                $('.cid').val(cid);
                $('.component_name').val(cname);
                $('.output_pin').val(pin);
                $('.used_for').val(use);
                $('.room_id').val(rid);
            });
                
            //showing modal for delete user record
            $('.mydeletebutton').on('click',function(){
                var userid = $(this).data('userid');
                $('.userid').val(userid);
            });

            //showing modal for delete room record
            $('.mydeletebutton1').on('click',function(){
                var rid = $(this).data('rid');
                var hid = $(this).data('hid');
                $('.rid').val(rid);
                $('.hid').val(hid);
            });

            //showing modal for delete component record
            $('.mydeletebutton2').on('click',function(){
                var cid = $(this).data('cid');
                var rid = $(this).data('rid');
                $('.rid').val(rid);
                $('.cid').val(cid);
            });
        
            });
            $("#myclick").click(function(){
                $(this).hide();
            });
            $("#myshow").click(function(){
                $('#DeleteModal').show();
        });
    </script>

</body>

</html>