<!doctype html>
<html class="no-js" lang="en">
    <!-- header -->
    <% include partials/header.ejs %>
    <!-- Left Panel -->
    <% include partials/navbar.ejs %>
    <!-- Left Panel Finish here-->

         <!-- Right Panel -->
    <div id="right-panel" class="right-panel">
            <div class="breadcrumbs">
                    <div class="col-sm-4">
                        <div class="page-header float-left">
                            <div class="page-title">
                                <h1>Profile</h1>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                    </div>
                </div>
            <div class="row">
                <div class="col-sm-12">
                        <table class="table table-bordered">
                                <thead class="thead-dark">
                                  <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">First</th>
                                    <th scope="col">Last</th>
                                    <th scope="col">Handle</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <th scope="row">1</th>
                                    <td>Mark</td>
                                    <td>Otto</td>
                                    <td>@mdo</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">2</th>
                                    <td>Jacob</td>
                                    <td>Thornton</td>
                                    <td>@fat</td>
                                  </tr>
                                  <tr>
                                    <th scope="row">3</th>
                                    <td>Larry</td>
                                    <td>the Bird</td>
                                    <td>@twitter</td>
                                  </tr>
                                </tbody>
                              </table>
                </div>
            </div>
    <!-- include footer -->
<% include partials/footer.ejs %>
